{% load static %}
<!--Sidebar-->
<div class="flex-container">
    <div class="flex-item">
        <a href="/pmdash"> Главная </a>
        <br>
        <br>
        <br>
        <hr/>
    </div>
    <div class="flex-item">
        <a href="/pmdash/main"> Основной дашборд </a>
        <br>
        <br>
        <br>
        <hr/>
    </div>
    <div class="flex-item">
        <a href="/pmdash/all"> Список дашбордов </a>
        <br>
        <br>
        <br>
        <hr/>
    </div>
    <div class="flex-item">
        <a href="pmdash/account"> Аккаунт </a>
        <br>
        <br>
        <br>
        <hr/>
    </div>
    <div class="flex-item-last"></div>
</div>
