{% load static %}
<!--Sidebar-->
<div class="flex-container">
    <div class="flex-item"> <a href="/pmdash"> Главная </a><p>____________</p></div>
    <div class="flex-item"> <a href="/pmdash/main"> Дашборд </a><p>____________</p></div>
    <div class="flex-item"> <a href="/pmdash/all"> Список дашбордов </a><p>____________</p></div>
    <div class="flex-item"> <a href="pmdash/account"> Аккаунт </a><p>____________</p></div>
    <div class="flex-item-last"></div>
</div>

<!--<div id="pmd_sidebar"></div>-->