
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<script src="https://kit.fontawesome.com/cec27b37b7.js" crossorigin="anonymous"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" style="background-color:#410FFA">
            <div class="row">
                <div class="col-3">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F000%2F443%2F065%2Foriginal%2Felectric-shock-vector-icon.jpg&f=1&nofb=1&ipt=b61e0cfc8fc24e10b124a16dc1da72f5e38d0042e8fb0bcbd0805fea04b11646&ipo=imagesv" alt="иконка" style="width:50px; height:auto;">
                </div>
                <div class="col-9">
                    <h1>Меню</h1>
                </div>
            </div>
            <row>
                <li>
                    <ul><i class="fa-solid fa-sign">    </i><a href="#">Ссылка1</a></ul>
                    <ul>Ссылка2</ul>
                </li>
            </row>
        </div>
        <div class="col-md-9">
            <div class="container">
                <h1>Основная часть</h1>
            </div>
        </div>
    </div>
</div>

